[flake8]
max-line-length = 100
extend-ignore = E203
per-file-ignores =
    sccfm-ansible/plugins/inventory/*.py:E402
    sccfm-ansible/plugins/lookup/*.py:E402
    sccfm-ansible/plugins/modules/*.py:E402
